<div class="container">
    <br>
    <h4>Check the weather by city</h4>
    <h5>{{date | date: 'dd/MM/yyyy'}}</h5>
    <div class="col-lg-6 col-md-6 alignment card">
        <form [formGroup]="formulario" (ngSubmit)="consult()" >
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="city">
                    <p class="text-danger" *ngIf="formulario.get('city')?.invalid && formulario.get('city')?.touched">Write only letters</p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">City Code</label>
                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="code">
                    <p class="text-danger" *ngIf="formulario.get('code')?.invalid && formulario.get('code')?.touched">Write only letters</p>
            </div>
            <button type="submit" class="btn btn-primary">Consult</button>
        </form>
        <p class="text-danger" *ngIf="showError">{{mensajeError}}</p>
    </div>
    <div class="col-lg-6 col-md-6 alignment">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li>Descripción: {{ description }}</li>
                    <li>Temperature: {{ temperature }}</li>
                    <li>Humidity: {{ humidity }}</li>
                    <li>City: {{ name | uppercase }}</li>
                    <li>Latitude: {{ latitude }}</li>
                    <li>Longitude: {{longitude }}</li>
                </ul>
            </div>
        </div>
    </div>

</div>